body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: #f5f7ff;
    font-family: 'Red Hat Display',sans-serif;
    position: relative;
    padding-top: 80px;
    
}



.card{
    background: white;
    margin: auto;
    width: 450px;
    border-radius: 30px;
    padding: inherit;
    padding-top: 0px;
    height: auto;
    padding-bottom: 20px;
}


.img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text{
    
    font-weight: 900;
    text-align: center;
}

.text1{
    font-size: 16px;
    color: gray;
    font-weight: 500;
    text-align: center;
}

.payment{
    font-size: 16px;
    background: #f5f7ff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    
    
}

.text2{
    
    font-weight: 900 bold;
    font-size: 15px;
}

.text3{
    color: gray;
    
    font-weight: 300;
    font-size: 15px;
}

.align{
    
    line-height: 10px;
    margin-right: 250px;
}

.link{
    
    color: #3829e0;
    font-size: 15px;
    cursor: pointer;  
}

button{
    background: #3829e0;
    display: grid;
    border-radius: 8px;
    font-size: 16px;
    display: block;
    color: white;
    width: 100%;
    border: 0px;
    margin: 3px;
    margin-top: 30px;
    cursor: pointer;
    
}

.proceed-button {
    background-color: #3829e0;
    padding: 15px;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.proceed-button:hover {
    opacity: 0.8;
}

.cancel-button {
    background-color: white;
    color: gray;
    margin-top: 22px;
}

.cancel-button:hover {
    color: black;
}


.attribution { 
    font-size: 11px; 
    text-align: left; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

